body {
  padding: 20px;
  margin: 0;
  font-family: Arial;
  background: #f8f8f8;
}

#page-container {
  width: 100%;
  margin: 0 auto;
}
table {
  border: 1px solid #99dbba;
  width: 100%;
}

th {
  background: #47b784;
  color: white;
  font-family: Arial;
  padding: 20px;
  text-align: left;
  position: relative;
}

tr {
  border-bottom: 1px solid #99dbba;
  background: white;
}

tr:nth-child(odd) {
  background: #e3efe9;
}

td {
  padding: 20px;
  color: #222;
  font-size: 13px;
  text-align: left;
  border-right: 1px solid #99dbba;
}

td:last-child {
  border: none;
}

table.responsive-table .is-hidden {
  display: none;
}

.responsive-table td:first-child,
.responsive-table th:first-child {
	min-width: initial;
	width: 50%;
  text-align: left;
}

.responsive-table th {
  text-align: center;
}

.responsive-table td {
  border-right: none;
}

.responsive-table td:first-child {
  border-right: 1px solid #99dbba;
}

.responsive-table .prev-col {
  position: absolute;
  top: 22px;
  left: 15px;
}

.responsive-table .prev-col:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(225deg);
}

.responsive-table .next-col {
  position: absolute;
  top: 22px;
  right: 15px;
}
.responsive-table .next-col:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  transform: rotate(45deg);
}

.responsive-table .indicator {
  position: relative;
	top: 10px;
}

.responsive-table .dot {
  display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid white;
	margin: 0px 3px;
}

.responsive-table .dot.is-active{
	background: white;
}


@media and (min-width: 800px) {
  #page-container {
    width: 960px;
    margin: 0 auto;
  }
}
